<%- include('../includes/header') -%>
<section class="pt-5 pb-5">
    <div class="container">
        <h1><%= title %></h1>
        <%- include('../includes/profile_navbar') -%>
        <div class="row">
            <div class="col-sm-12 col-md-6 col-lg-6">
              <form action="{{ route('LoginController.index') }}" method="POST">
                <div class="form-group has-success">
                  <label class="form-control-label" for="inputValid">Old password</label>
                  <input type="text" value="correct value" class="form-control is-valid" id="inputValid">
                  <div class="valid-feedback">Success! You've done it.</div>
                </div>

                <div class="form-group has-success">
                    <label class="form-control-label" for="inputValid">Password</label>
                    <input type="text" value="correct value" class="form-control is-valid" id="inputValid">
                    <div class="valid-feedback">Success! You've done it.</div>
                </div>

                <div class="form-group has-success">
                    <label class="form-control-label" for="inputValid">Confirm password</label>
                    <input type="text" value="correct value" class="form-control is-valid" id="inputValid">
                    <div class="valid-feedback">Success! You've done it.</div>
                </div>
      
                <div class="form-group">
                  <button class="btn btn-primary" type="submit">Update Password</button>
                </div>
              </form>  
            </div>
        </div>
    </div>
</section>
<%- include('../includes/footer') -%>