<%- include('../../includes/header') -%>
<section class="py-3 text-center">
    <div class="container">
        <h1>403</h1>
        <p>Forbidden</p>
    </div>
</section>
<%- include('../../includes/footer') -%>