</main>
<footer class="bg-light pt-3 pb-3 text-center">
  <div class="container py-3">
    Copyright &copy; 2023 Yitube. All rights reserved
  </div>
</footer>
<script src="/js/script.js?ver=1683232687649"></script>
</body>
</html>