</main>
<footer class="bg-light pt-3 pb-3 text-center">
  <div class="container py-3">
    Copyright &copy; 2021 Yitube. All rights reserved
  </div>
</footer>
<script src="/js/script.js?ver=1680949047593"></script>
</body>
</html>