<div id="video-player">
    <div class="overlay">
        <div class="loader-icon"></div>
    </div>
    <video controls>
        <source src="/movies/<%= id %>/stream" type="video/mp4"> 
    </video>
</div>