<div class="warning mb-5 p-4 text-center">
    <h3 class="blink h5">Warning!</h3>
    <p>This site was created for educational reasons, consuming content of this site may/will subject you to lawsuits and fines.</p>
</div>